@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
	font-size: 14px;
}

body {
	padding-top: 20px;
}

.main {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #777;
}

.main .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.main .title span {
	display: inline-block;
	font-size: 20px;
}

.tab {
	width: 100%;
}

.tab .head {
	background-color: #aaa;
}

.tab .label {
	background-color: #aaa;
	font-weight: bold;
	text-align: right;
} 

.tab th,
.tab,
.tab td {
	border: 1px solid #777;
	border-collapse: collapse;
}

.tab th,
.tab td {
	line-height: 26px;
	height: 26px;
	padding-left: 5px;
}

.main p {
	padding-top: 8px;
	text-align: center;
}

.success {
	color: green;
}

.error,
.required {
	color: red;
}